.DS_Store
.build/
.swiftpm/
.idea/

Tools/CompatibilityMatrix/vendor/
Fixtures/**/buildServer.json
Fixtures/**/.compile
Fixtures/**/.bundle
Fixtures/**/.build/
Fixtures/Workspace/App/Generated/

Tools/Lint/.tools/
